<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 引入property文件 -->
	<context:property-placeholder location="classpath:db.properties" />

	<!-- 数据库连接 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${usernames}"></property>
		<property name="password" value="${pwd}"></property>
	</bean>

	<!-- 连接工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis_cfg.xml"></property>
	</bean>
	<!--配置注解 -->
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="cn.sz.kjy"></context:component-scan>

	<!--解除JS引入的限制,引入的标签要放在注解驱动的前面，不然会出一个编译错误 -->
	<!-- <mvc:default-servlet-handler /> -->
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>

	<!-- 配置MVC的注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!--配置rest风格拼接 InternalResourceViewResolver -->
	<bean id="ire"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 配置拦截器 -->
	<mvc:interceptors>
		<!-- 这里可以配置一个全局的拦截器,针对所有的请求都要经过它来拦截 -->
		<!-- <bean class="cn.sz.kjy.util.LoginIntercepter" ></bean> -->
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<bean id="checklogin" class="cn.sz.kjy.util.UserInter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
